.mainLayout {
    width: 100%;
    background-color: #fff;
}

.sidNavContainer {
    width: 25%;
    background-color: #adadad;
}

.innerLayout {
    width: 75%;
}

.content {
    width: 100%;
}

.footer {
    width: 100%;
}

.menuItem {
	color: #fff;
	background-color: #1F4257;
	border-right: 5px solid #1F4257;
	border-left: 4px solid #1F4257;
}

.menuItem:hover {
	color: #ddd;
}

li[aria-selected="true"].menuItem {
	background-color: #122A38 !important;
	border-color: #FDB852;
	border-right: 5px solid #122A38;
	border-left: 4px solid #FDB852;
}
li[aria-selected="true"].menuItem i {
	color: #FDB852;
}
li[aria-selected="true"].menuItem:after {
	border-right: none;
}
.minorMenuItem {
	color: #8FA0AA;
	background-color: #1F4257;
	border-right: 5px solid #1F4257;
	border-left: 4px solid #1F4257;
}
.minorMenuItem:hover {
	color: #ddd;
}

.innerNodeAdd {
	margin-left: 5%;
}

.inputLabel {
	width: 10%;
}
.inputBox {
	width: 30%;
}
.addNode {
	width: 5%;
}
.deleteNode {
	width: 5%;
}
